/All.JSP.File/jsf/demo2/nbproject/private/
/All.JSP.File/jsf/demo2/build/
/All.JSP.File/jsf/demo3/nbproject/private/
/All.JSP.File/jsf/demo3/build/
/All.JSP.File/jsf/student/nbproject/private/
/All.JSP.File/jsf/student/build/
/All.JSP.File/jsf/student/dist/
/All.JSP.File/jsf/WebApplication1/nbproject/private/
/All.JSP.File/jsf/jsfMaven/target/